*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    height: 100%;
    margin: 0;
    font-family: Arial;
  }

button{
    background-color: rgb(126, 120, 133);
    width: 25%;
    height:100px;
    font-size: 1.5rem;
    color: whitesmoke;
    border: none;
}

button:hover{
    background-color: rgb(225, 224, 228);
    color: rgb(253, 4, 129);
    cursor: pointer;
}

.selectedTabOne{
    background-color: red!important;
    color: white!important;
    
}


.selectedTabTwo{
    background-color: #04AA6D!important;
    color: white!important;
  

}

.selectedTabThree{
    background-color: #3c20d8!important;
   color: white!important;
}
.selectedTabfour{
    background-color: #FF5722!important;
   color: white!important;
}

#container{
    background-color: #04AA6D;
}   
#container div{
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
  height: calc(100vh - 100px);
}
#container h1{
    margin-bottom: 20px;
    padding-left: 20px;
}
#container p{
    padding-left: 20px;
}
#news,#contact,#about{
    padding: calc(100% - 97%);
    height: 100%;
    display: none;
}
.display{
    display: block!important;
}
.nodisplay{
    display: none!important;
}